<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Calculations example with flask.
    </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> </link>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
  </head>
  <body>
    <br/>

    <div class="jumbotron text-center">
      <h1>Calculations example with flask</h1>
      <p>Resize this responsive page to see the effect!</p>
    </div>

    <div class="container">
      <div class="row">
        <h3>Available calculations</h3>
        <ul class="list-group">
          <li class="list-group-item"><a href="/calculate_area">Area calculation</a></li>
          <li class="list-group-item"><a href="/calculate_square">Square calculation</a></li>
          <li class="list-group-item"><a href="/calculate_cube">Cube calculation</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
